# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
.python-version
.venv/
venv/
.env
.env.*
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/
build/

# OS/editor
.DS_Store
.idea/
.vscode/
Thumbs.db

# Docker
*.log

# Misc
*.swp
*.swo
